### 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [4]:
test1= 'This is a test of the emergency text system,'
file1= open('test.txt', 'w+')
file1.write(test1)

44

### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [5]:
file2= open('test.txt', 'r')
test2= file2.readline()
test2

'This is a test of the emergency text system,'

In [ ]:
# There is no difference between test1 and test2

### 3. Create a CSV file called books.csv by using these lines:
###title,author,year
###The Weirdstone of Brisingamen,Alan Garner,1960
###Perdido Street Station,China Miéville,2000
###Thud!,Terry Pratchett,2005
###The Spellman Files,Lisa Lutz,2007
###Small Gods,Terry Pratchett,1992

In [11]:
import csv
rows= [
    ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner','1960'],
    ['Perdido Street Station','China Miéville','2000'],
    ['Thud!','Terry Pratchett','2005'],
    ['The Spellman Files','Lisa Lutz','2007'],
    ['Small Gods','Terry Pratchett','1992']
]

file3= open('books.csv', 'w+', newline='')
writer= csv.writer(file3)
writer.writerows(rows)

### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [16]:
import sqlite3
conn = sqlite3.connect('books.db')
c = conn.cursor()

c.execute('create table books(title varchar(20),author varchar(20), year int)')
conn.commit()

### 5. Read books.csv and insert its data into the book table.

In [17]:
import pandas as pd

read_books = pd.read_csv('books.csv',encoding='unicode_escape')
read_books.to_sql('books', conn, if_exists='append', index = False)

### 6. Select and print the title column from the book table in alphabetical order.

In [18]:
c.execute('select title from books order by title asc')
print(c.fetchall())

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

### 7. From the book table, select and print all columns in the order of publication.

In [19]:
c.execute('select title, author,year from books order by year')
df = pd.DataFrame(c.fetchall(), columns=['title','author','year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station  China MiÃ©ville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [20]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China MiÃ©ville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

<ipython-input-20-03768d188b70>:3: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  rows = engine.execute('select * from books')

### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [34]:
!pip install redis-server redis

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting redis-server
  Downloading redis_server-6.0.9-202010301343-cp38-cp38-manylinux2010_x86_64.whl (5.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.5/5.5 MB 34.3 MB/s eta 0:00:00
Requirement already satisfied: redis in /usr/local/lib/python3.8/dist-packages (4.5.1)
Requirement already satisfied: async-timeout>=4.0.2 in /usr/local/lib/python3.8/dist-packages (from redis) (4.0.2)
Installing collected packages: redis-server
Successfully installed redis-server-6.0.9

In [35]:
import subprocess
import redis_server
subprocess.Popen([redis_server.REDIS_SERVER_PATH])

In [36]:
import redis
client = redis.Redis(host = 'localhost', port=6379)

client.ping()

True

In [38]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

<ipython-input-38-c05998fbf204>:4: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

{b'count': b'1', b'name': b'Fester Bestertester'}

### 10. Increment the count field of test and print it.

In [39]:
conn.hincrby('test','count', 3)

4